@import url('./the-last-of-us-characters/index.scss');
@import url('./mark-rise/index.scss');

html {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  margin: 0;
  min-height: 675px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

body *, body *::after, body *::before {
  position: absolute;
  content: '';
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
